h1 {
    font-family: sans-serif;
    text-align: center;
}

h2 {
    font-family: sans-serif;
    text-align: left;
}

h3 {
    font-family: sans-serif;
    text-align: center;
    color: rgba(0, 0, 139, 0.8);
}

p {
    font-family: serif;
    color: black;
}

a {
    color: darkgreen;
    text-decoration: none;
}

del {
    color: grey;
}

.highlight {
    color: darkblue;
    background-color: pink;
}

pre {
    font-family: monospace;
    font-size: 1em;
    color: black;
}

.transparent-text {
    color: rgba(0, 0, 0, 0.5);
}
